<footer class="footer text-center fixed-bottom">
    <div class="container">
      <div class="row">
        
        <div class="centered col-12 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">My Links</h4>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jordan-sloop-234001a1/"  class=black> 
                  <i class="fab fa-linkedin fa-3x "></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Jsloopy" class=black>
                  <i class="fab fa-github fa-3x"></i>  
                </a>
            </li>
           
            <li class="list-inline-item">
                <a href="mailto:jsloop310@gmail.com" class=black>
                  <i class="fas fa-envelope-open fa-3x"></i>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
</body>
</html>